  - name: ms-leaderboard-route
    service: ms-leaderboard-service
    paths:
      - /ms-leaderboard-service
    methods:
      - POST
      - GET
      - PUT
      - DELETE
      - UPDATE
    strip_path: true