version: '3.8'

services:
  kong:
    image: kong:3.8
    container_name: kong
    command: [ "/bin/sh" , "-c","/kong/declarative/merge.sh && kong start" ]
    environment:
      user: root
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /kong/declarative/kong.yml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_PROXY_LISTEN: 0.0.0.0:8000
    ports:
      - "8000:8000"
      - "8001:8001"
    volumes:
      - ./merge.sh:/kong/declarative/merge.sh
      - ./kong-config/:/kong/declarative/kong-config/
      - ./kong.yml:/kong/declarative/kong.yml
    networks:
      - kong-net
networks:
  kong-net:
    driver: bridge